#nav2{
    background-color: #14213d;
    color: white;
}

#brand {
    font-style: oblique;
    font-size: 1.5em;
}

.l-s {
    padding-left: 70%;
}

#bton:hover {
    box-shadow: 0 4px #1d4ff2;
    color: white;
    background-color: blue;
  }

  #bton:active {
    color: white;
    background-color: blue;
    box-shadow: none;
    top: 6px;
  }

  