body {
  background: url(https://images.unsplash.com/photo-1511649475669-e288648b2339?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 92%;
}
html {
  height: 92%;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: blue;
}
.footer-text {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  color: cornsilk;
}
.user-card {
  margin: 10px 10px 10px 10px;
  background-color: #3a78ab;
  color: whitesmoke;
  width: fit-content;
  border-radius: 2.5%;
}
.user-card img {
  margin: 10px 0px 10px 10px;
  height: 200px;
  border-radius: 50%;
}
.user-card .user-details {
  margin-top: 60px;
  margin-left: 5px;
  padding-left: 0;
}
.user-card .user-details strong {
  font-size: 40px;
}
.user-card .user-details em {
  font-size: 17px;
}
