#page {
  padding-left: 5%;
  padding-right: 5%;
  color: #023e8a;
}


#signup{
    padding-left: 5% ;
    padding-right: 5% ;
    padding-top: 5%;
    color: #14213d;
}

.jumbotron{
    padding-left: 5% ;
    padding-right: 5% ;
    margin-top: 5%;
    padding-top: 10%;
    background-color: #14213d;
    color: white;
}

#bton {
    color: white;
    background-color: #14213d;
  }


#bton:hover {
    color: white;
    background-color: 000000;
  }

  
=======
#signup {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  color: #1d3557;
}

.jumbotron {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 5%;
  padding-top: 10%;
  background-color: rgb(7, 7, 70);
  color: white;
}

